:root {
    --bs-blue:#0a1e38;
    --bs-darkblue:#05101e;
    --bs-white:#ffffff;
    --bs-gray-dark:#343a40;
    --bs-orange-100:#FEA116;
    --bs-primary-rgb:(52,89,230);
    --bs-gray: #a5a8ac;
    --bs-gray-500:#797676;
    --bs-orange-shadow:#fea1165e;

}
/* ---------Header---------- */
.top-header {
    background: var(--bs-orange-100);
    color: var(--bs-white);
}
.header-padding {
  padding: 0px 40px;
}
  .dropdown-toggle::after {
     transition: transform 0.15s linear; 
  }
  
  .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }
  
  .dropdown-menu {
    z-index: 99999!important;
    margin-top: 0;
  }

.nav-link
{
  margin-right: 10px;
}
.dropdown-item.active, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover
{
background-color: var(--bs-orange-100);
color: var(--bs-white);
}
.nav-link:hover, .nav-link:active, .nav-link:focus

{
    background: var(--bs-orange-100)!important;
    color: white!important;
    border-radius: 18px!important;

}
.search-btn
{
    background: var(--bs-orange-100)!important;
    color: white;
    text-align: center;
}
.search-btn:hover
{

    color: white;
}
.number-hover:hover{
  color: var(--bs-orange-100);
}
/* ------------slider css--------- */
.slider-height
{
  height: 570px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.slick-next {
  right: 40px;
}
.slick-prev {
  left: 20px;
  z-index: 1;
}
.slick-dots li
{
  border: 1px solid #8080809c;
  border-radius: 50%;
}
.slick-prev:before, .slick-next:before
{
  font-size: 40px;
}
/* -----------Section 2 ---------- */
.text-alignment
{
  text-align: justify;
  word-break: break-all;
}
.text-color
{
color: var(--bs-orange-100);
}

/* -------Our-services---------- */
.section-title {
  position: relative;
  display: inline-block;
}
.section-title::before{
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
  background: var(--bs-orange-100);
}
.section-title::after{
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -55px;
  margin-top: -1px;
  background: var(--bs-orange-100);
}
.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}
.image-flip
{
  margin-bottom: 50px;
}
.backside {
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}
.frontside .card,
.backside .card {
    min-height: 290px;
}
.align-center
{
  margin-top: 75px;
}
.btn-color
{
  background-color: var(--bs-orange-100)!important;
}
.frontside .transparent-text
{
  bottom: 0px;
  background: rgba(0, 0, 0, 0.7);
}

/* ----------Our Products--------- */
.card[data-radius="none"] {
    border-radius: 0px;
}
.product-card {
    transition:0.5s;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: var(--bs-white);
    z-index: 1;
}
.card.card-just-text .content {
    padding: 10px 10px;
}
.card[data-color="orange"]  {
    color: #e95e37;
}
.product-card:hover{
    transform: scale(1.07);
    transition: transform .3s ease-out 0s;

}
.text-hover:hover
{
  color: var(--bs-orange-100);
  cursor: pointer;
}
/* ---------services2---------- */
.card-custom {
  overflow: hidden;
  /* min-height: 450px; */
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}
.hover-bg:hover{
  background-color: var(--bs-orange-100);
  cursor: pointer;
  color: var(--bs-white);
}
.text-13
{
  font-size: 13px;
}
/* -----------Our videos----------- */
.overlay-box
{
  background-color: rgba(0,0,0,0.20);
  border-radius: 16px;
  left: 0px;
  top: 0px;
}
.overlay-box span
{
  width: 51px;
  height: 51px;
  top: 40%;
  z-index: 99;
  border-radius: 50%;
  display: inline-block;
}
/* ---------Contact Us------------ */
.top-border
{
    border-top: 3px solid var(--bs-orange-100);
    border-bottom: 3px solid var(--bs-orange-100);
    padding: 30px;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
}
.location-height
{
  height: 399px;
}

/* --------footer-------------- */

#footer .footer-top .footer-info {
  background: var(--bs-darkblue);
  border-radius: 16px;
  border-top: 4px solid var(--bs-orange-100);
  padding: 30px 20px;
}
.social-links a
{
      display: inline-block;
      line-height: 1.3;
      padding: 8px 0;
      width: 36px;
      height: 36px;
      transition: 0.3s;
      background: var(--bs-blue);
}
#footer .footer-top .social-links a:hover {
  color:var(--bs-white);
  background: var(--bs-orange-100);
  text-decoration: none;
}

/* -----------About Page---------- */
.content ul i {
  left: 0;
  top: 13px;
  color: var(--bs-orange-100);
}
.content ul li {
  padding: 10px 0 0 28px;

}

/* ----------service Page---------- */
.heroContent {
background-color: var(--bs-gray-500);
  padding: 20px;
  /* position: absolute; */

}
.anchor-hover:hover {
  color: var(--bs-white)!important;
}

/* ----------Update Page------------ */
.text-gray
{
  color: var(--bs-gray);

}
.values .card {
  padding: 140px 20px 20px 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.values .card-body {
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
  transition: 0.3s;
  transition: ease-in-out 0.4s;
  border-radius: 5px;
}
.values .card:hover .card-body  {
  background: var(--bs-orange-100);
  color: var(--bs-white);
}
.form-control:focus
{
  border-color: var(--bs-orange-100);
  box-shadow: 0 1px 2px var(--bs-orange-100), 0 0 0 0.25rem var(--bs-orange-shadow);
}
/* ------- ----modal--------------- */
.modal-bg-color
{
background-color: var(--bs-orange-100);
}
/* ---------scroll------------ */
.scroll-to-top {
    bottom: 38px;
    right: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;  
    cursor: pointer;
    background:var(--bs-orange-100);
    transition: background-color .2s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
/* ----------media-quwery----------- */
@media only screen and (max-width: 600px) {
 .section-padding
 {
   padding: 20px;
 }
 .image-flip {
  margin-bottom: 20px;
}
.footer-center
{
  text-align: center;
}
.newsletter
{
  text-align: center;
  margin: 40px 0px!important;
}
.responsive-btn
{
  font-size: 9px;
  padding: 5px 6px!important;
  margin-top: 6px;
}
.responsive-form
{
  margin-top: 20px;
}
.slider-height
{
  height: 100%;
}
.header-padding {
  padding: 0px 15px;
}
ul, p 
{
    font-size: 14px;
}
.nav-link:hover, .nav-link:active, .nav-link:focus {
  color: var(--bs-orange-100)!important;
  background-color: var(--bs-white)!important;
}
.searchbar {
  height: 39px;
  margin-top: 8px;
}
.slick-prev:before, .slick-next:before
{
  font-size: 20px;
}
.slick-next {
  right: 20px;
}
.frontside .card, .backside .card
{
  min-height: 240px;
}
.heroContent h1 {
  font-size: 25px;
}
.align-center {
  margin-top: 50px;
}
.location-height
{
  height: 100%;
}
}

@media only screen and (min-width: 600px) {
  .section-padding
  {
    padding: 50px;
  }
 }

 